[submodule "source/contrib/scfd"]
	path = source/contrib/scfd
	url = git@github.com:oryabkov/SCFD-all.git
[submodule "source/contrib/nmfd-newton"]
	path = source/contrib/nmfd-newton
	url = git@github.com:oryabkov/NMFD-newton.git
[submodule "source/contrib/nmfd-linsolvers"]
	path = source/contrib/nmfd-linsolvers
	url = git@github.com:evstigneevnm/NMFD-linsolvers.git
