[submodule "Linsolver_test/source/contrib/scfd"]
	path = Linsolver_test/source/contrib/scfd
	url = git@github.com:oryabkov/SCFD-all.git
[submodule "Linsolver_test/source/contrib/nmfd-newton"]
	path = Linsolver_test/source/contrib/nmfd-newton
	url = git@github.com:oryabkov/NMFD-newton.git
[submodule "Linsolver_test/source/contrib/nmfd-linsolvers"]
	path = Linsolver_test/source/contrib/nmfd-linsolvers
	url = git@github.com:oryabkov/NMFD-linsolvers.git
